<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="showAppointmentContainr">
        <h1 mat-dialog-title>Show Appointment Details</h1>
        <div mat-dialog-content>
            <div class="appointmentDetailContainer">
                <div class="firstName">
                    <label for="firstName">First Name:</label>
                    <p id="firstName"> </p>
                </div>
                <div class="lastName">
                    <label for="lastName">Last Name:</label>
                    <p id="lastName"></p>
                </div>
                <div class="email">
                    <label for="email">Email:</label>
                    <p id="email"></p>
                </div>
                <div class="gender">
                    <label for="gender">Gender:</label>
                    <p id="gender"></p>
                </div>
                <div class="age">
                    <label for="age">Age:</label>
                    <p id="age"></p>
                </div>
                <div class="date">
                    <label for="date">Date:</label>
                    <p id="date"></p>
                </div>
                <div class="time">
                    <label for="time">Time:</label>
                    <p id="time"></p>
                </div>
            </div>
        </div>
        <div mat-dialog-actions>
            <button mat-button (click)="close()" cdkFocusInitial>Close</button>
        </div>

    </div>
</body>

</html>